<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">

 <!--  <test name="Test">
    <classes>
      <class name="testSample1"/>
    </classes>
  </test> Test
   -->
   
    <test name="Test_chrome">
    <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testSample2"/>
    </classes>
  </test> <!-- Test -->
  
  
   <test name="Test_firefox">
   <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="testSample2"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
